name: Node

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up NPM authentication
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GPR_TOKEN }}" >> ~/.npmrc
      - name: npm install, build, and test
        run: |
          npm ci
          npm test
        env:
          CI: true
      - name: deploy
        if: contains(github.ref, 'master')
        run: |
          npm install now
          npm run build
          npx now --public --token ${{ secrets.NOW_TOKEN }}
          npx now --prod --token ${{ secrets.NOW_TOKEN }}
